## M1 T02: Exploració i estructura de les dades - Dataframes amb Pandas
##### _Enviar la URL a un repositori anomenat estructures_Dataframe que contingui la solució. S'ha d'entregar cada Excercici en un mateix fitxer i en un repositori._
### Exercici 1
##### Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd
data_frame = pd.read_csv('DelayedFlights.csv')
data_frame.keys()

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [2]:
data_frame.shape

(1936758, 30)

In [3]:
data_frame.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

##### Busco el significat de les dades "CRS..."
_"A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS). Arrival performance is based on arrival at the gate. Departure performance is based on departure from the gate. "_
_https://www.flyertalk.com/forum/travelbuzz/1202036-how-actual-arrival-time-flight-determined.html_
##### També busco informació sobre els números de vol: la dada d'origen i destí és redundant amb aquesta
_"Resultat d'imatges de flight number assignment
A flight number is a specific code that an airline assigns to a particular flight in its network. ... With a few exceptions, flights are usually numbered based on their direction of travel."_
__https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj67fnu6tnzAhXCyYUKHQ8uDbYQFnoECAYQAw&url=https%3A%2F%2Fblueskypit.com%2F2020%2F03%2F09%2Fdeciphering-the-digits-in-your-flight-number%2F&usg=AOvVaw0QqYRZZXsnunLD5ctDnr_7

##### Més informació sobre les variables:
https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwilydOZ0u3zAhVDUxoKHUklA3gQFnoECAIQAQ&url=https%3A%2F%2Fwww.stat.purdue.edu%2F~lfindsen%2Fstat350%2Fairline2008_dataset_definition.pdf&usg=AOvVaw3fku7WlyQHJfPLpq-w0WtZ

##### Selecció de les columnes d'interès:
  - _'DayOfWeek', 'FlightNum', 'TailNum'_: permetrien estudiar relacions entre el dia de la setmana, la ruta o l'avió
  - _'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance'_: permetrien fer càlculs numèrics sobre els retards
  - _'Cancelled', 'Diverted'_: permetria separar els casos de vols anul·lats o desviats, que alterarien els càlculs.

In [4]:
df = data_frame[['DayOfWeek', 'FlightNum','TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay','DepDelay', 'Distance','Cancelled', 'Diverted']]
df.shape

(1936758, 11)

### Exercici 2
##### Fes un informe complet del data set:

1. Resumeix estadísticament les columnes d’interès
2. Troba quantes dades faltants hi ha per columna
3. Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
4. Taula de les aerolínies amb més endarreriments acumulats
5. Quins són els vols més llargs? I els més endarrerits?

In [5]:
df[1836785:1936758]

,DayOfWeek,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
1836785,3,1405,N914DE,120.0,135.0,100.0,6.0,21.0,689,0,0
1836786,3,1406,N990DL,151.0,159.0,130.0,-2.0,6.0,1050,0,0
1836787,3,1407,N949DL,269.0,184.0,147.0,139.0,54.0,1050,0,0
1836788,3,1409,N990DL,171.0,186.0,147.0,-8.0,7.0,1050,0,0
1836789,3,1410,N915DL,204.0,183.0,175.0,46.0,25.0,1197,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1936753,6,1621,N938DL,147.0,152.0,120.0,25.0,30.0,906,0,0
1936754,6,1631,N3743H,127.0,109.0,78.0,75.0,57.0,481,0,0
1936755,6,1631,N909DA,162.0,143.0,122.0,99.0,80.0,689,0,0
1936756,6,1639,N646DL,115.0,117.0,89.0,9.0,11.0,533,0,0
1936757,6,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,874,0,0

##### (1) Fem un resum estadístic del df resultant i l'analitzem:
* El registre _count_ no arriba sempre al màxim d'observacions del df (1936758). Això és perquè hi ha _missing values_.
* També s'observa que els atributs no numèrics com el _TailNum_ no han estat computats. En el cas de 'FlightNum', sí que es calculen els estadístics, però no es pot interpretar directament com altres atributs numèrics, ja que són identificadors de ruta que han estat assignats, no tenen perquè ser equiespaiats ni correlatius.
* El cas de _DayOfWeek_ és diferent perquè sabem que hi ha 7 dies de la setmana i que cadascun té un valor enter correlatiu.
* Hi ha dos atributs, _Cancelled_ i _Diverted_, que s'han d'interpretar com variables booleanes (sí, no / True, False)

In [6]:
df.describe()

,DayOfWeek,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.936758e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06
mean,3.984827e+00,2.184263e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,3.268348e-04,4.003598e-03
std,1.995966e+00,1.944702e+03,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,1.807562e-02,6.314722e-02
min,1.000000e+00,1.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00
25%,2.000000e+00,6.100000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00,0.000000e+00
50%,4.000000e+00,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.000000e+00,0.000000e+00
75%,6.000000e+00,3.422000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,0.000000e+00,0.000000e+00
max,7.000000e+00,9.742000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,1.000000e+00,1.000000e+00

In [7]:
df['FlightNum'].value_counts() # amb això podem saber quants vols s'ha realitzat de cada ruta

16      1586
50      1550
40      1507
15      1471
44      1447
        ...
6947       1
6870       1
6191       1
6249       1
7702       1
Name: FlightNum, Length: 7499, dtype: int64

In [8]:
df['TailNum'].value_counts() # amb això podem saber quants vols ha realitzat cada avió

N325SW    965
N676SW    951
N658SW    945
N313SW    937
N308SA    936
         ...
N193UA      1
N171DN      1
N74007      1
N826MH      1
N104UA      1
Name: TailNum, Length: 5366, dtype: int64

In [9]:
df[['TailNum','FlightNum']].value_counts() #així combinem les dues consultes anteriors

TailNum  FlightNum
N764AS   64           122
N765AS   64           113
N763AS   64           109
N768AS   64            99
         153           98
                     ...
N484WN   3353           1
         3396           1
         3402           1
         3411           1
Unknow   7790           1
Length: 1132032, dtype: int64

In [10]:
df[['Cancelled','Diverted']].value_counts() #així veiem quants vols s'han cancel·lat, quants s'han derivat i quants no s'han cancel·lat ni derivat

Cancelled  Diverted
0          0           1928371
           1              7754
1          0               633
dtype: int64

##### (2) Sabent que el mètode _count_ ens retorna el nombre de valors diferents de _NaN_ per cada atribut, li podem restar la mida del Data Frame per calcular quants valors falten realment:

In [11]:
df.count()-df.shape[0]

DayOfWeek               0
FlightNum               0
TailNum                -5
ActualElapsedTime   -8387
CRSElapsedTime       -198
AirTime             -8387
ArrDelay            -8387
DepDelay                0
Distance                0
Cancelled               0
Diverted                0
dtype: int64

##### S'hauria de considerar eliminar els registres amb valors nuls en _Actual Elapsed Time_. Veient que el nombre de valors nuls de _AirTime_ i de _ArrDelay_ conicdeix amb aquest, és problable que eliminant les files amb aquest error, el Data Frame quedi net. Estudiant els nuls dels altres atributs "delay", sembla que aquests corresponguin a zeros.

In [12]:
8387/df.shape[0]*100

0.4330432609546469

##### A més, aquest nombre de registres suposa una petita part del Data Frame. Es procedeix a eliminar els valors NaN i comprovar-ne el resultat:

In [13]:
df = df.dropna()
df.count()-df.shape[0]

DayOfWeek            0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Distance             0
Cancelled            0
Diverted             0
dtype: int64

In [14]:
df.shape

(1928368, 11)

In [15]:
df.describe()

,DayOfWeek,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.928368e+06,1.928368e+06,1.928368e+06,1.928368e+06,1.928368e+06,1.928368e+06,1.928368e+06,1.928368e+06,1928368.0,1928368.0
mean,3.984999e+00,2.184292e+03,1.333059e+02,1.341977e+02,1.082772e+02,4.219977e+01,4.309160e+01,7.649490e+02,0.0,0.0
std,1.996051e+00,1.944448e+03,7.206012e+01,7.123343e+01,6.864265e+01,5.678447e+01,5.326577e+01,5.738861e+02,0.0,0.0
min,1.000000e+00,1.000000e+00,1.400000e+01,-2.100000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.0,0.0
25%,2.000000e+00,6.110000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.0,0.0
50%,4.000000e+00,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.0,0.0
75%,6.000000e+00,3.423000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.970000e+02,0.0,0.0
max,7.000000e+00,9.741000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,0.0,0.0

In [16]:
df.sort_values(by=['CRSElapsedTime'])

,DayOfWeek,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
437861,6,5428,N227SW,31.0,-21.0,23.0,95.0,43.0,77,0,0
693851,7,434,N3CFAA,107.0,1.0,86.0,244.0,138.0,764,0,0
1581586,1,5188,N643AS,72.0,2.0,54.0,85.0,15.0,247,0,0
759223,4,16,N12195,27.0,8.0,14.0,39.0,20.0,35,0,0
1111744,1,117,N12163,78.0,9.0,29.0,78.0,9.0,37,0,0
...,...,...,...,...,...,...,...,...,...,...,...
360599,1,15,N69063,662.0,660.0,642.0,40.0,38.0,4962,0,0
368996,4,15,N59053,658.0,660.0,636.0,27.0,29.0,4962,0,0
556386,5,15,N78060,679.0,660.0,651.0,28.0,9.0,4962,0,0
556371,1,15,N69063,651.0,660.0,627.0,1.0,10.0,4962,0,0
173177,1,15,N69063,634.0,660.0,605.0,-15.0,11.0,4962,0,0

##### Veient la sortida del mètode _describe_, s'observa que el valor mínim d'_CRSElapsedTime_ és negatiu. Aquest valor és erròni: un retard pot ser negatiu si s'arriba abans d'hora, però el valor d'una durada només pot ser positiu. Per veure la magnitud d'aquest problema, s'endreça al Data Frame en aquesta variable: només hi ha un registre afectat per aquest error, per tant, es pot eliminar sense més efectes.

In [17]:
df = df.sort_values(by=['CRSElapsedTime'])[1:df.shape[0]]
df.describe()

,DayOfWeek,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.928367e+06,1.928367e+06,1.928367e+06,1.928367e+06,1.928367e+06,1.928367e+06,1.928367e+06,1.928367e+06,1928367.0,1928367.0
mean,3.984998e+00,2.184290e+03,1.333059e+02,1.341978e+02,1.082772e+02,4.219974e+01,4.309160e+01,7.649494e+02,0.0,0.0
std,1.996051e+00,1.944447e+03,7.206010e+01,7.123336e+01,6.864264e+01,5.678447e+01,5.326579e+01,5.738860e+02,0.0,0.0
min,1.000000e+00,1.000000e+00,1.400000e+01,1.000000e+00,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.0,0.0
25%,2.000000e+00,6.110000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.0,0.0
50%,4.000000e+00,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.0,0.0
75%,6.000000e+00,3.423000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.970000e+02,0.0,0.0
max,7.000000e+00,9.741000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,0.0,0.0

##### Ja no apareixen durades mínimes negatives.
##### *(3)* Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [18]:
# La velocitat mitjana del vol és la distancia recorreguda dividida per la durada real del vol
df["VelocitatMitjana"]= df["Distance"] / df["AirTime"]
# Es pot saber si el vol ha arribat tard comparant la durada real amb la prevista.
df["ElapsedTimeDelay"] = df["ActualElapsedTime"]-df["CRSElapsedTime"]
# Es pot calcular l'endarreriment total del vol restant la durada prevista a la real.

In [19]:
df.head()

,DayOfWeek,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,VelocitatMitjana,ElapsedTimeDelay
693851,7,434,N3CFAA,107.0,1.0,86.0,244.0,138.0,764,0,0,8.883721,106.0
1581586,1,5188,N643AS,72.0,2.0,54.0,85.0,15.0,247,0,0,4.574074,70.0
759223,4,16,N12195,27.0,8.0,14.0,39.0,20.0,35,0,0,2.500000,19.0
1111744,1,117,N12163,78.0,9.0,29.0,78.0,9.0,37,0,0,1.275862,69.0
1111660,2,104,N14174,34.0,9.0,11.0,70.0,45.0,37,0,0,3.363636,25.0

##### He revisat la definició de les variables _ActualElapsedTime_ i _CRSElapsedTime_ perquè trobo que hi ha una diferència molt gran en alguns casos i dubto que hi hagi vols amb durades < 10 minuts, però sembla que és correcte. En tot cas, potser hi ha valors anòmals que no són ni negatius ni nuls.

##### (4) Taula de les aerolínies amb més endarreriments acumulats.
##### D'entrada, cal considerar que no tenim les dades d'aerolínia, però com que els avions sempre volen amb la mateixa companyia, podem fer l'anàlisi per l'identificador d'avió enlloc d'això. 
##### En primer lloc podríem veure quins avions han obtingut els endarreriments més grans:

In [40]:
endarreriments = df[['TailNum','ElapsedTimeDelay']]
endarreriments.sort_values(by=['ElapsedTimeDelay'],ascending=False)[0:10]

        TailNum  ElapsedTimeDelay
1488690  N586HA             759.0
1367047  N597HA             415.0
1930131  N12318             395.0
1779939  N12934             384.0
1173580   N6700             368.0
96006    N607DL             359.0
49010    N690CA             355.0
710244   N190JB             350.0
1930014  N76288             347.0
1930140  N14335             343.0

##### Per calcular l'endarreriment acumulat, hauriem de sumar els endarreriments que ha fet cada avió en tots els seus trajectes:

In [50]:
suma_endarreriments = endarreriments.groupby('TailNum').ElapsedTimeDelay.sum()
suma_endarreriments.sort_values(ascending = False)[:10]

TailNum
N77278    3644.0
N27318    3364.0
N87353    3337.0
N77302    3290.0
N664MS    3263.0
N693CA    3083.0
N665BC    2991.0
N654AE    2902.0
N637AE    2857.0
N640AE    2823.0
Name: ElapsedTimeDelay, dtype: float64

##### Com que segurament no hi ha el mateix nombre de registres per cada avió, és més adequat calcular la mitjana; el procediment és molt semblant:

In [51]:
mitjana_endarreriments = endarreriments.groupby('TailNum').ElapsedTimeDelay.mean()
mitjana_endarreriments.sort_values(ascending = False)[:10]

TailNum
N220UA    33.800000
N172DZ    28.500000
N169DZ    23.000000
N194DN    22.666667
N801NW    20.400000
N193DN    20.111111
N16065    18.857143
N516AS    17.285714
N2AEMQ    16.500000
N273MQ    14.000000
Name: ElapsedTimeDelay, dtype: float64

##### (5) Quins són els vols més llargs? I els més endarrerits?
##### Els vols es designen pel _FlightNum_, o sigui que cal treballar amb aquesta variable. Per estudiar la durada dels vols, agafarem la durada teòrica; i pel que fa als endarreriments, la varible que hem calculat.

In [53]:
vols = df[['FlightNum','CRSElapsedTime','ElapsedTimeDelay']]
vols_llargs = vols.groupby('FlightNum').CRSElapsedTime.max()
vols_llargs.sort_values(ascending = False)[:10]

FlightNum
15      660.0
1273    604.0
1561    604.0
851     602.0
14      575.0
73      560.0
1       556.0
3       548.0
1003    547.0
1560    533.0
Name: CRSElapsedTime, dtype: float64

In [54]:
vols_endarrerits = vols.groupby('FlightNum').ElapsedTimeDelay.max()
vols_endarrerits.sort_values(ascending = False)[:10]

FlightNum
21      759.0
28      415.0
616     395.0
2710    384.0
151     368.0
1035    359.0
5017    355.0
626     350.0
150     347.0
644     343.0
Name: ElapsedTimeDelay, dtype: float64

### Exercici 3
##### Exporta el data set net i amb les noves columnes a Excel.

In [59]:
df.to_csv(path_or_buf = 'm1t02.csv')